@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lilita+One&family=Satisfy&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.navbar {
    /* background-color: #007bff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: white;
}

/* .logo {
    position: relative;
    top: -9px; 
} */

.nav-links {
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    /* font-weight: bold; */
    font-size:18px;
}

.nav-links .btn {
    background-color: #3498db;
    padding: 8px 15px;
    border-radius: 5px;
}
.nav-links a:hover{
    color:#3498db;
}

.dashboard-container h1 {
    font-size: 36px;
    color: #2c3e50;
    font-family: "Acme", serif;
}

.dashboard-container .special {
    font-size: 25px;
    color: #555;
    font-family: "Satisfy", serif;
}
.dashboard-container {
    text-align: center;
    padding: 50px;
}


.dashboard-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 15px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
    color: #007bff;
}

.card p {
    color: #555;
}

.card .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
