@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Acme&family=Dancing+Script:wght@400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lilita+One&family=Satisfy&display=swap');

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    text-align: center;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 15px 20px;
    color: white;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    
}

.nav-links .btn {
    background-color: #3498db;
    padding: 8px 15px;
    border-radius: 5px;
}

.nav-links a:hover {
    color: #3498db;
}

/* Hero Section */
.hero {
    padding: 100px 20px;
    background-color: #ecf0f1;
    /* background: url('image.png') no-repeat center center; */
    /* min-height:100vh;  */
    min-height: 100vh; 
    padding-bottom: 50px;
}

.hero h1 {
    font-size: 36px;
    color: #2c3e50;
    font-family:"Acme", serif;
}

.hero p {
    font-size: 18px;
    color: #555;
    font-family:"Satisfy", serif;
}

.cta-button {
    background-color: #3498db;
    color: white;
    padding: 10px 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left:-35px;
}

.cta-button:hover {
    background-color: #2980b9;
}

/* Footer Styles */
.footer {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.hero {
    background: radial-gradient(circle, #ecf0f1, #d6eaf8, #f4f6f7);
    height: 100vh;
    color: #2c3e50;
}
.hero-img{
    height:100px;
    
}
